---
name: "Terraform Checks"
on: [push, pull_request]

jobs:
  terraform-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: v1.13.5
      - name: "Setup TFLint"
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: v0.53.0
      - name: "Init TFLint"
        shell: bash
        run: tflint --init
      - name: "Run TFLint"
        shell: bash
        run: tflint --chdir infrastructure/ --recursive
      - name: "Checking Terraform Format of Files"
        shell: bash
        run: |
          cd infrastructure
          terraform fmt -check $(find . -name '*tf')
      - name: "Validate Terraform Configs"
        shell: bash
        run: |
          cd infrastructure
          for d in $(find . -type d -mindepth 1 -maxdepth 1)
          do
            echo "Validating the $d config"
            cd $d
            terraform init -backend=false
            terraform validate
            cd ..
          done